:root{
    --cor-azul-escuro: #002b5b;
    --cor-branca: #fff;
    --fonte: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    background-color: var(--cor-azul-escuro);
    color: var(--cor-branca);
    text-align: center;
    padding: 20px;
}

header h1{
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-top: 30px;
}

